Exercise 1 — Input + Math + Strings

Start with the initial comment: to get personal information from the user

Ask for name, age, height (cm), and weight (kg)

Print lowercase, uppercase, and the length of the name

Convert height to meters and print BMI = weight / height²

Print weight divided by π

Print age in days

Split the name into characters and print them one per line

In [21]:
import math
name = input("Enter your name ")
print(name.lower())
print(name.upper())
print(len(name))

age = int(input("Enter your age "))
height = int(input("Enter your height in cm "))
weight = int(input("Enter your weight in kg "))

height = height/100
print("Height in meters : ", height)
print("BMI", weight//(height**2) )

print("Weight divided by pi ", weight//math.pi)

print("Age in days : ", age*365)

print("Characters in name : ")
for char in name:
    print(char)

Enter your name Brunda
brunda
BRUNDA
6
Enter your age 30
Enter your height in cm 157
Enter your weight in kg 40
Height in meters :  1.57
BMI 16.0
Weight divided by pi  12.0
Age in days :  10950
Characters in name :
B
r
u
n
d
a

Exercise 2 — Two Number Calculator

Ask the user to input two numbers, then print:

Sum, difference, product, quotient (division result)
The results formatted like:
Sum: 10

Product: 24

In [19]:
a, b = input("Enter two numbers separated by space ").split()
a = int(a)
b = int(b)
print("Sum : ", a+b)
print("Difference : ", a-b)
print("Product : ", a*b)
print("Quotient: ", a/b)

Enter two numbers separated by space 4 6
Sum :  10
Difference :  -2
Product :  24
Quotient:  0.6666666666666666

Exercise 3 — List Processing

Prompt the user to enter 10 integers and store them in a list, then print:

Mean (average)

Min and Max

Count of numbers > 50

All odd numbers

All numbers divisible by 3

The list sorted (ascending and descending)

The list reversed

In [24]:
input_list = input("Enter 10 integers separated by space ").split()
input_list = [int(i) for i in input_list]
mean = sum(input_list)/len(input_list)
print("Mean :", mean)

print("Min :" , min(input_list))
print("Max :" , max(input_list))
greater_than_50 = [i for i in input_list if i > 50]
print("Count of numbers > 50 :", len(greater_than_50))

odd_numbers = [i for i in input_list if i%2 != 0]
print("All odd numbers :", odd_numbers)

divisible_by_3 = [i for i in input_list if i%3 == 0]
print("All numbers divisible by 3 :", divisible_by_3)

input_list.sort()
print("Sorted list (ascending) :", input_list)

input_list.sort(reverse=True)
print("Sorted list (descending) :", input_list)

input_list.reverse()
print("Reversed list :", input_list)

Enter 10 integers separated by space 10 21 30 41 50 61 70 81 90 101
Mean : 55.5
Min : 10
Max : 101
Count of numbers > 50 : 5
All odd numbers : [21, 41, 61, 81, 101]
All numbers divisible by 3 : [21, 30, 81, 90]
Sorted list (ascending) : [10, 21, 30, 41, 50, 61, 70, 81, 90, 101]
Sorted list (descending) : [101, 90, 81, 70, 61, 50, 41, 30, 21, 10]
Reversed list : [10, 21, 30, 41, 50, 61, 70, 81, 90, 101]

Exercise 4 — Function Practice

Create 3 functions:

def add(a, b): return a + b

def multiply(a, b): return a * b

def power(a, b): return a ** b

Then write a main program that:

Takes 2 integers from the user
Calls all 3 functions
Print results

In [15]:
def add(a, b):
  return a + b

def multiply(a, b):
  return a * b

def power(a, b):
  return a ** b


a, b = input("Enter two integers separated by space ").split()
a = int(a)
b = int(b)

print("Sum : ", add(a, b))
print("Product : ", multiply(a, b))
print("Power : ", power(a, b))

Enter two integers separated by space 2 3
Sum :  5
Product :  6
Power :  8

Exercise 5 — Dictionary Storage

Create a program that asks for:

5 student names

1 score for each student

Store them in a dictionary like:

            {"Alice": 88, "Bob": 92, ...}

Then print:

Class average
Student with highest score
All students who scored above 90

In [20]:
names = input("Enter 5 student names separated by space ").split()
scores = input("Enter 5 scores separated by space ").split()
scores = [int(i) for i in scores]
scores_dict = dict(zip(names, scores))
print(scores_dict)

average = sum(scores)/len(scores)
print("Class average :", average)

highest_score = max(scores_dict, key=scores_dict.get)
print("Student with highest score :", highest_score)

above_90 = [name for name, score in scores_dict.items() if score > 90]
print("Students who scored above 90 :", above_90)

Enter 5 student names separated by space Alice Bob Corey Don Ella
Enter 5 scores separated by space 56 99 98 100 70
{'Alice': 56, 'Bob': 99, 'Corey': 98, 'Don': 100, 'Ella': 70}
Class average : 84.6
Student with highest score : Don
Students who scored above 90 : ['Bob', 'Corey', 'Don']